name: iOS Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Force XCode 13.4
        run: sudo xcode-select -switch /Applications/Xcode_13.4.app
        
      - name: Build and Test
        run:  xcodebuild test -scheme Github_actions -project Github_actions.xcodeproj -destination 'platform=iOS Simulator,name=iPhone 12,OS=15.0' | xcpretty && exit ${PIPESTATUS[0]}

